@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --page-current-color: #bd8836;
    }
    [x-cloak] {
        display: none !important;
    }
    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
            opacity: 0;
        }
    }
    .bry-cart .bry-bag::before {
        content: "";
        display: block;
        height: 36px;
        background-image: url(./images/cart-braaay.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 29px;
    }
    @media (max-width: 959px) {
        .bry-cart .bry-bag::before {
            height: 30px !important;
            width: 24px !important;
        }
    }
    .bry-cart {
        @apply ml-5;
    }
    a:hover:not(.not-hover-effect) {
        @apply opacity-50;
    }
}
@layer components {
    .btn {
        @apply py-2 px-5 bg-white text-blue rounded-full border border-grey-lighter focus:outline-none   hover:ring-grey-medium font-roboto text-xs tracking-widest;
        @screen sm {
            .btn {
                @apply py-1 px-3 mt-5 text-[9px];
            }
        }
    }

    .play-button {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        display: block;
        border-radius: 50%;
        padding: 5px 20px 5px 24px;
        /* padding: 5px 20px 5px 28px; */
        /* width: 32px;
        height: 44px; */
    }
    .play-button:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: var(--page-current-color);
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
    }
    .play-button:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        /* width: 80px;
        height: 80px; */
        width: 70px;
        height: 70px;
        background: var(--page-current-color);
        border-radius: 50%;
        transition: all 200ms;
    }
    .play-button span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 17px solid #fff;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
    .bry-product-list {
        @apply container mx-auto grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6;
    }
    .bry-product-list > .wine {
        @apply bg-[#EFEFEF] rounded-lg shadow-sm p-4 text-center relative h-full flex flex-col;
    }
    .bry-product-list > .wine .wine-button {
        @apply bg-white block mt-4 px-4 py-2 rounded-full border border-grey-light text-xs;
    }
    .bry-product-list > .wine .wine-title {
        @apply text-sm lg:text-base font-prata leading-tight two-lines;
    }
    .bry-product-list > .wine .wine-price {
        @apply text-base lg:text-xl font-bold mt-2 border-b-2 w-fit border-sun mx-auto;
    }
    .bry-product-list > .wine .wine-stars {
        @apply text-base text-grey-medium-dark;
    }
    .bry-product-list > .wine .wine-stars > span {
        @apply text-yellow;
    }

    .bry-partners-list {
        @apply flex flex-wrap justify-start lg:justify-between items-center gap-[15px] mt-10 mb-8 w-full px-[30px] lg:px-0 max-w-screen-lg mx-auto;
    }
    .bry-partners-list > div {
        @apply w-[105px] h-[105px] rounded-full bg-grey-background flex justify-center items-center;
    }
    /* Footer featured box */
    .bry-footer-features {
        @apply grid grid-cols-1 md:grid-cols-3 gap-8 mb-0;
    }
    .bry-footer-features > div {
        @apply py-[32px] px-[48px] border border-grey-light bg-white rounded-lg mx-5 lg:mx-auto;
    }
    .bry-footer-features > div > h2 {
        @apply text-grey-dark text-center text-[28px] font-roboto font-semibold mb-4 leading-8 partial-border;
    }
    .bry-footer-features > div > p {
        @apply text-grey-page-primary font-light leading-5 text-[15px] mt-8 font-roboto;
    }

    /* Footer grid of columns */
    .bry-footer-grid {
        /* @apply grid grid-cols-2 md:grid-cols-4 gap-8 md:w-2/3; */
        /* @apply grid grid-cols-2 md:grid-cols-3 gap-8 md:flex-1; */
    }
    .bry-footer-grid > div {
        /* @apply border border-sun; */
    }
    .bry-footer-grid > div > h3 {
        @apply font-semibold mb-4 font-prata;
    }
    .bry-footer-grid > div > ul {
        /* @apply space-y-2; */
    }
    .bry-footer-grid > div > ul > li {
        @apply leading-5 mb-0;
    }
    .bry-footer-grid > div > ul > li > a {
        @apply text-grey-medium text-[0.8rem] uppercase;
    }
}
@layer utilities {
    .two-lines {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limit to 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .partial-border {
        position: relative;
    }
    .partial-border:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        right: 0;
        width: 100%;
        height: 2px;
        border-bottom: 4px solid #000;
        @apply border-sun;
    }

    .lucide-menu {
        @apply mr-1 h-[18px] md:h-[19px] leading-none;
    }
    .lucide-button {
        @apply mr-1 h-[14px];
    }
}

#bry-secondary-menu a {
    @apply text-blue font-roboto font-light tracking-wider;
    @apply text-[15px] lg:text-[17px] tracking-[0.02em];
}

#bry-secondary-menu {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scroll-behavior: smooth; /* Smooth scroll behavior */
}

#bry-secondary-menu ul {
    display: flex;
    gap: 0px; /* Space between items */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
    padding: 0 1px;
}

#bry-secondary-menu li {
    scroll-snap-align: start; /* Snap to the start of each item */
    flex-shrink: 0; /* Prevent items from shrinking */
    transition: transform 0.3s ease-in-out;
}

#bry-secondary-menu a {
    white-space: nowrap; /* Ensure text doesn't wrap inside menu items */
}

#bry-secondary-menu::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look */
}
.glide__bullets {
    text-align: center;
    margin-top: 20px;
}

.glide__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.glide__bullet:hover,
.glide__bullet:focus {
    background-color: #bbb;
}

.glide__bullet--active {
    background-color: #666; /* Active dot color */
}
@media (min-width: 1024px) {
    #bry-secondary-menu {
        overflow-x: visible; /* Disable scroll behavior on larger screens */
    }

    #bry-secondary-menu ul {
        gap: 0rem; /* Restore original spacing for desktop */
    }
}
