@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply py-2 px-5 bg-white text-blue rounded-full border border-grey-lighter focus:outline-none   hover:ring-grey-medium font-roboto text-xs tracking-widest;
    }
}

@layer base {
    [x-cloak] {
        display: none !important;
    }
    .bry-cart .fa-bag::before {
        content: "";
        display: block;
        height: 36px;
        background-image: url(./images/cart-braaay.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 29px;
    }
    @media (max-width: 959px) {
        .bry-cart .fa-bag::before {
            height: 30px !important;
            width: 24px !important;
        }
    }
    .bry-cart {
        @apply ml-5;
    }
    a:hover {
        @apply opacity-50;
    }
}

#bry-secondary-menu a {
    @apply text-blue font-roboto font-light tracking-wider;
    @apply text-[17px] tracking-[0.02em];
}

#bry-secondary-menu {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scroll-behavior: smooth; /* Smooth scroll behavior */
}

#bry-secondary-menu ul {
    display: flex;
    gap: 0px; /* Space between items */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
    padding: 0 1px;
}

#bry-secondary-menu li {
    scroll-snap-align: start; /* Snap to the start of each item */
    flex-shrink: 0; /* Prevent items from shrinking */
    transition: transform 0.3s ease-in-out;
}

#bry-secondary-menu a {
    white-space: nowrap; /* Ensure text doesn't wrap inside menu items */
}

#bry-secondary-menu::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look */
}
.glide__bullets {
    text-align: center;
    margin-top: 20px;
}

.glide__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.glide__bullet:hover,
.glide__bullet:focus {
    background-color: #bbb;
}

.glide__bullet--active {
    background-color: #666; /* Active dot color */
}
@media (min-width: 1024px) {
    #bry-secondary-menu {
        overflow-x: visible; /* Disable scroll behavior on larger screens */
    }

    #bry-secondary-menu ul {
        gap: 0rem; /* Restore original spacing for desktop */
    }
}
